<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <section>
      <a href="/">Back home</a>
      <form action="/register" method="post">
        <input type="text" name="name" placeholder="Enter full name" />
        <input type="email" name="email" placeholder="Enter email" />
        <input type="password" name="password" placeholder="Enter password" />
        <input type="submit" value="Register" />
      </form>
    </section>
  </body>
</html>
